.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: black 0 0 10px;
    margin-top: 2vh;
    padding: 1%;
    border-radius: 5px;
}
.card-left {
}
.card-left p {
    margin-left: 2vw;
}
.main-data {
    font-size: larger;
    font-style: italic;
}
.desctiption {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.photo {
    overflow: auto;
    border-radius: 10px;
    margin: 1%;
}
.head-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 5vh;
    border-radius: 5px;
    box-shadow: black 0 0 10px;
}
.main-buttons {
    margin: 2vw;
}
