.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: black 0 0 10px;
    border-radius: 5px;
}
.card-left {
    margin-left: 2vw;
}
.card-left p {
    margin-left: 2vw;
}
.main-data {
    font-size: larger;
    font-style: italic;
}
.desctiption {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.photo {
    overflow: auto;
    border-radius: 5px;
    margin: 1%;
}
